@using Rugal.PartialViewRender.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dtvl.Pvs</title>

    <link rel="stylesheet" href="~/npm/@@mdi/font/css/materialdesignicons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/npm/@@fortawesome/fontawesome-free/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/npm/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/npm/vuetify/dist/vuetify.min.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/npm/vuetify/dist/vuetify-labs.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dtvlpv/dist/css/all.min.css" asp-append-version="true" />

</head>
<body>
    <script src="~/npm/@@fortawesome/fontawesome-free/js/all.min.js" asp-append-version="true"></script>
    <script src="~/npm/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>

    @ImportMapper.RenderMapJson()

    <script type="module" src="~/app/setup.js"></script>
    <dtvl-pv pv-type="App" app id="app">
        @{
            var ListDatas = new List<PvListItem>() { new PvListItem("UserLogout", "登出") };
        }
        @if (ViewBag.HiddenLayout == null)
        {
            <pv-slot slot="AppSlot.Header">
                <dtvl-pv pv-type="Header">
                    <pv-slot slot="HeaderSlot.Title"></pv-slot>
                    <pv-slot slot="HeaderSlot.ProfileStart">
                        <div class="col-auto Fw-2"
                             pv-name="HeaderUserName">
                        </div>
                    </pv-slot>
                    <pv-slot slot="HeaderSlot.ProfileMenu">
                        <dtvl-pv pv-type="List" class="px-5">
                            <pv-slot slot="ListSlot.Datas" pass-data="ListDatas"></pv-slot>
                        </dtvl-pv>
                    </pv-slot>
                </dtvl-pv>
            </pv-slot>

            <pv-slot slot="AppSlot.Sidebar">
                <dtvl-pv pv-type="Sidebar"
                         pv-name="Sidebar">
                    <pv-slot slot="SidebarSlot.Layers">3</pv-slot>
                    <pv-slot slot="SidebarSlot.Footer">
                        <div class="col align-self-end bg-danger">
                            <div class="col">
                                
                            </div>
                        </div>
                    </pv-slot>
                </dtvl-pv>
            </pv-slot>

            <pv-slot slot="AppSlot.Bread">
                <dtvl-pv pv-type="Bread"
                         pv-name="Bread"></dtvl-pv>
            </pv-slot>
        }
        <pv-slot slot="AppSlot.Content">
            <div class="w-100 p-3"
                 style="background-color:#808080; min-height: inherit">
                @RenderBody()
            </div>
        </pv-slot>
    </dtvl-pv>
    <script type="module" src="~/app/init.js"></script>
</body>
</html>
