@model PvOption<DtvlPvs>


@{
    Model.AddParentAttr(new
    {
        @class = "row align-content-center align-items-center InfoLine"
    });
}

<div class="col-auto">
    @Model.RenderSlot(InfoLineSlot.Content)
</div>
<div class="col ms-3">
    <hr />
</div>

@if (Model.TryGetSlotRender(InfoLineSlot.Footer, out var SlotFooter))
{
    <div class="col-auto ms-3">
        @SlotFooter
    </div>
}