@model PvOption<DtvlPvs>
@{
    Model
        .WithPvName("SidebarView")
        .AddParentAttr("v-show", "!mobile || Router?.IsSidebarOpen")
        // .AddParentAttr("v-bind:class", "[ (!mobile || Router?.IsSidebarOpen) ? 'Sidebar-Show' : 'Sidebar-Hide' ]")
        .AddParentAttr(new
        {
            @class = "Sidebar NotSelect Sidebar-Show",
            style = "display:none; "
        });
}

<v-treeview pv-name="Sidebar"
            :items="Router?.Datas ?? []"
            v-on:update:activated="Router?.Click"
            return-object
            open-on-click>
    <section v-for="item in Router?.Datas ?? []">
        <v-list-group v-if="item.children && item.children?.length > 0 && item.show() == true"
                      :value="item.id">
            <template v-slot:activator="{ props }">
                <v-list-item v-bind="props"
                             v-on:click="Router.Click(item)"
                             class="SidebarItem"
                             density="compact"
                             :value="item.id"
                             :title="item.title">
                    <template v-slot:prepend="props">
                        <i v-if="item.icon" class="SidebarIcon" v-bind:class="item.icon"></i>
                    </template>
                </v-list-item>
            </template>
            <v-list-item v-for="(subItem, subindex) in item.children"
                         v-on:click="Router.Click(subItem)"
                         density="compact"
                         class="SidebarItem"
                         v-bind:class="{ SidebarSelect: subItem.isSelect }"
                         :value="item.id"
                         :title="subItem.title">
                <template v-slot:prepend="props">
                    <i v-if="subItem.icon" class="SidebarIcon" v-bind:class="subItem.icon"></i>
                </template>
            </v-list-item>
        </v-list-group>
        <v-list-item v-else-if="item.show() == true"
                     v-on:click="Router.Click(item)"
                     density="compact"
                     class="SidebarItem"
                     v-bind:class="{ SidebarSelect: item.isSelect }"
                     :value="item.id"
                     :title="item.title">
            <template v-slot:prepend="props">
                <i v-if="item.icon" class="SidebarIcon" v-bind:class="item.icon"></i>
            </template>
        </v-list-item>
        <hr v-if="item.show() == true" />
    </section>
</v-treeview>

