@model PvOption<DtvlPvs>

@{
    Model.WithParentTag("v-textarea")
        .UsingInputBase()
        .AddParentAttr(new
        {
            @class = "Textarea",
        })
        .FillSlot(TextAreaSlot.Rows, "3")
        .FillSlot(TextAreaSlot.AutoGrow, "true");

    Model.AddParentAttr("rows", Model.GetSlotContent(TextAreaSlot.Rows));
    Model.AddParentAttr("v-bind:auto-grow", Model.GetSlotContent(TextAreaSlot.AutoGrow));
}

<template v-slot:prepend-inner="props">
    <section class="InputPrependInner">
        @if (Model.TryGetSlotContent(InputSlot.InnerIcon, out var InnerIcon))
        {
            <dtvl-pv pv-type="Icon"
                     pv-name="Icon"
                     pass-slot="Model.PassSlot_InputToIcon()"
                     class="InputIcon">
            </dtvl-pv>
        }
    </section>
</template>