<!--靜態-->
<dtvl-pv pv-type="Flex"
         pv-name="StaticFlex">
    <pv-slot slot="FlexSlot.Column3"></pv-slot>
    <pv-slot slot="FlexSlot.ItemsAttr" class="px-1 my-1"></pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input" class="col-7">
            123
        </dtvl-pv>
    </pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input">
            123
        </dtvl-pv>
    </pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input">
            123
        </dtvl-pv>
    </pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input">
            123
        </dtvl-pv>
    </pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input">
            123
        </dtvl-pv>
    </pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input">
            123
        </dtvl-pv>
    </pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input">
            123
        </dtvl-pv>
    </pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input">
            123
        </dtvl-pv>
    </pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input">
            123
        </dtvl-pv>
    </pv-slot>
    <pv-slot slot="FlexSlot.Items" pass-type="Multi">
        <dtvl-pv pv-type="Input">
            123
        </dtvl-pv>
    </pv-slot>
</dtvl-pv>

<!--動態搭配ts-->
<dtvl-pv pv-type="Flex"
         pv-name="DynamicFlex">
    <pv-slot slot="FlexSlot.Column2"></pv-slot>
    <pv-slot slot="FlexSlot.ItemsAttr" class="px-1 my-1"></pv-slot>
    <pv-slot slot="FlexSlot.ItemSquare"></pv-slot>
    <pv-slot slot="FlexSlot.Items">
        <div pv-name="ItemContent" class="bg-success h-100 text-center">
        </div>
    </pv-slot>
</dtvl-pv>

<script type="module" src="~/scripts/Sample/Flex.js"></script>