<section pv-name="Root"
		 class="row">
	<div class="col-12">
		<dtvl-pv pv-type="Input" pv-name="Input">
			<pv-slot slot="InputSlot.IconColor">red</pv-slot>
			<pv-slot slot="InputSlot.InnerIcon">fa-solid fa-user</pv-slot>
			<pv-slot slot="InputSlot.Label">test</pv-slot>
		</dtvl-pv>
	</div>
</section>

<script type="module" src="~/scripts/Sample/Input.js"></script>