<!--in datas-->
<div pv-name="Datas">
    <div pv-name="Rows">
        <dtvl-pv pv-type="Select"
                 pv-name="Sel"></dtvl-pv>
    </div>
</div>

<script type="module" src="~/scripts/Sample/Select.js"></script>