<dtvl-pv pv-type="DataTable"
         height="300">
    <pv-slot slot="DataTableSlot.FixedHeader"></pv-slot>
    <pv-slot slot="DataTableSlot.SearchStartView">
        <div class="col">
            <dtvl-pv pv-type="InfoLine">
                聯絡人
            </dtvl-pv>
        </div>
    </pv-slot>
    <pv-slot slot="DataTableSlot.SearchLabel">
        123
    </pv-slot>
    <pv-slot slot="DataTableSlot.Columns">
        <dtvl-pv pv-type="TableColumn">
            <pv-slot slot="TableColumnSlot.ItemKey">testinput</pv-slot>
            <dtvl-pv pv-type="Input"
                     pv-name="TestInput">
            </dtvl-pv>
        </dtvl-pv>
    </pv-slot>

    <pv-slot slot="DataTableSlot.Buttons">
        <v-btn class="col-auto ms-1" pv-name="BtnA">A</v-btn>
        <v-btn class="col-auto ms-1">B</v-btn>
        <v-btn class="col-auto ms-1">C</v-btn>
    </pv-slot>
</dtvl-pv>

<script type="module" src="~/scripts/Component/DataTable.js"></script>