
<section pv-name="Root">
    <dtvl-pv pv-type="DatePicker"
             pv-name="DatePicker">
        123
    </dtvl-pv>
</section>


<script type="module" src="~/scripts/Component/DatePicker.js" asp-append-version="true"></script>