

<section pv-name="Root"
         class="row">
    <dtvl-pv pv-type="ImageViewer"
             pv-name="ImageViewer">
    </dtvl-pv>
    <dtvl-pv pv-type="Btn"
             class="col-auto">
        Select
    </dtvl-pv>
    <div class="row">
        <div class="col-2">
            <dtvl-pv pv-type="Image">
            </dtvl-pv>
        </div>
    </div>
</section>


<script type="module" src="~/scripts/Component/Image.js"></script>