--DataTableVar {
    --DataTable-bg: var(--DefaultTheme-bg2-2);
    --DataTable-text-color: var(--DefaultTheme-text-color2);
    --DataTable-Head-bg: var(--DefaultTheme-bg3);
    --DataTable-Head-text-color: var(--DefaultTheme-text-color3);
    --DataTable-Head-font-size: var(--DefaultTheme-font-size2);
    --DataTable-Body-font-size: var(--DefaultTheme-font-size);
    --DataTable-Stripe-bg: #252525;
    --DataTable-Select-bg: #2A3550;
    --DataTable-hover-bg: #3A3A3A;
    --DataTable-Column-padding: 0 16px;
    --DataTable-Head-Column-padding: var(--DataTable-Column-padding);
    --DataTable-Body-Column-padding: var(--DataTable-Column-padding);
}

.DataTable {
    background: var(--DataTable-bg);
    color: var(--DataTable-text-color);
    min-height: 300px;
}

.v-data-table__td-title {
    width: auto !important;
}

.DataTable thead {
    background: var(--DataTable-Head-bg);
    color: var(--DataTable-Head-text-color);
    font-size: var(--DataTable-Head-font-size);
}

.DataTable tbody {
    font-size: var(--DataTable-Body-font-size);
}

.DataTable .v-data-table-header__content {
    font-weight: bolder;
}

.DataTable .v-data-table .v-table__wrapper > table > thead > tr > th.v-data-table__th--sortable:hover {
    background: var(--DataTable-Head-bg);
    color: var(--DataTable-Head-text-color);
}

.DataTable ul.v-pagination__list {
    padding: 0px;
    margin: 0px;
    margin-right: 2.5rem;
}

/*.DataTable.v-table {
    max-width: 5000px;
}*/

.DataTable tbody {
    height: 100%;
}

.DataTable table {
    /*background-color: red;*/
    /*white-space: pre-line;*/
}

.DataTable-Stripe {
    background: var(--DataTable-Stripe-bg);
}

.DataTable-Select {
    background: var(--DataTable-Select-bg);
}

.v-data-table tbody tr:hover:not(.v-data-table__selected):not(.DataTable-Select) {
    background: var(--DataTable-hover-bg);
}

.v-table > .v-table__wrapper > table > thead > tr > td {
    padding: var(--DataTable-Head-Column-padding);
}

.v-table > .v-table__wrapper > table > tbody > tr > td {
    padding: var(--DataTable-Body-Column-padding);
}
