Home-Detail

<dtvl-pv pv-type="Card">
	<pv-slot slot="CardSlot.HeaderStart">
		<div class="Fw-1 Fs-2">
			Card標題
		</div>
	</pv-slot>
	<div class="row CardBody"
		 style="background:#fff; color:#000;">
		<div class="row">
			<div class="col-2 Fw-1 border p-2"
				 style="background:gray; color:#fff;">
				姓名
			</div>
			<div class="col-4 Fw-1 border p-2">沈佳穎</div>
			<div class="col-2 Fw-1 border p-2"
				 style="background:gray; color:#fff;">
				生日
			</div>
			<div class="col-4 Fw-1 border p-2">2000-11-29</div>
			<div class="col-2 Fw-1 border p-2"
				 style="background:gray; color:#fff;">
				戶籍地址
			</div>
			<div class="col-10 Fw-1 border p-2">高雄市旗山區延平一路307巷59號</div>
			<div class="col-2 Fw-1 border p-2"
				 style="background:gray; color:#fff;">
				聯絡地址
			</div>
			<div class="col-10 Fw-1 border p-2">
				台中市北區三民路三段120巷4-1號
			</div>
		</div>
	</div>
</dtvl-pv>

<dtvl-pv pv-type="Checkbox">
	<pv-slot slot="CheckboxSlot.Label">
		AAAA
	</pv-slot>
</dtvl-pv>