

<dtvl-pv pv-type="Textarea"
         pv-name="MyInput">
    <pv-slot slot="TextAreaSlot.Label">123</pv-slot>
</dtvl-pv>


@* 
<dtvl-pv pv-type="DataTable"
         pv-name="Table">

</dtvl-pv> *@

@* 
<div pv-name="Page">
    <div class="row">
        <div pv-name="LeftView"
             class="col bg-success">
            <dtvl-pv pv-type="Btn"
                     pv-name="Btn">

            </dtvl-pv>
        </div>

        <div class="col-3 bg-danger"
             pv-name="View">
            123
        </div>
    </div>
</div>
 *@

<script type="module" src="~/scripts/Home/Index.js" asp-append-version="true"></script>