Home-Index

<dtvl-pv pv-type="Modal"
         pv-name="SendModal">
    <div class="bg-success">
        123
    </div>
    <pv-slot slot="ModalSlot.CenterHeader">333</pv-slot>
</dtvl-pv>

<dtvl-pv pv-type="Btn">
    123
</dtvl-pv>

<dtvl-pv pv-type="Select">
</dtvl-pv>
<dtvl-pv pv-type="Select"
         pv-name="Select2">
</dtvl-pv>

<dtvl-pv pv-type="Tabbed">
    <pv-slot slot="TabbedSlot.Tabs">
        <dtvl-pv pv-type="Tab">
            <pv-slot slot="TabSlot.PrependIcon">fa-solid fa-house</pv-slot>
            <pv-slot slot="TabSlot.Content">
                首頁
            </pv-slot>
        </dtvl-pv>
        <dtvl-pv pv-type="Tab">
            <pv-slot slot="TabSlot.PrependIcon">fa-solid fa-user</pv-slot>
            <pv-slot slot="TabSlot.Content">
                <span>人員資料</span>
            </pv-slot>
        </dtvl-pv>
    </pv-slot>

    <pv-slot slot="TabbedSlot.Contents">
        <dtvl-pv pv-type="TabContent">
            <dtvl-pv pv-type="DataTable">
                <pv-slot slot="DataTableSlot.Columns">
                    <dtvl-pv pv-type="TableColumn" pv-name="all">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <span>11</span>
                                </div>
                                <div class="row">
                                    <span>bb</span>
                                </div>
                            </div>
                            <div class="col">
                                button
                            </div>
                        </div>


                    </dtvl-pv>
                </pv-slot>
            </dtvl-pv>
        </dtvl-pv>
    </pv-slot>
</dtvl-pv>


<script type="module" src="~/scripts/Home/Index.js" asp-append-version="true"></script>
