Home-Index

<dtvl-pv pv-type="Modal" pv-name="SelectStaffModal">
    <pv-slot slot="ModalSlot.HeaderStart">選擇人員</pv-slot>

    <dtvl-pv pv-type="DataTable" pv-name="StaffTable">
        <pv-slot slot="DataTableSlot.Columns">
            <dtvl-pv pv-type="TableColumn">
                <pv-slot slot="TableColumnSlot.ItemKey">name</pv-slot>
                <dtvl-pv pv-type="Input" pv-name="Name">
                </dtvl-pv>
            </dtvl-pv>


            <dtvl-pv pv-type="TableColumn" pv-name="checked">
                <dtvl-pv pv-type="Checkbox" pv-name="Checked">
                    是否啟用
                </dtvl-pv>
            </dtvl-pv>

            <dtvl-pv pv-type="TableColumn" pv-name="btn">
                <dtvl-pv pv-type="Btn" pv-name="BtnEnable" class="bg-success">
                    啟用
                </dtvl-pv>
                <dtvl-pv pv-type="Btn" pv-name="BtnDisable" class="bg-danger">
                    停用
                </dtvl-pv>
            </dtvl-pv>
        </pv-slot>
    </dtvl-pv>
    <div class="row justify-content-center mt-2">
        <dtvl-pv pv-type="Btn" pv-name="BtnSelectOk"
                 class="bg-success col-auto">
            確認選擇
        </dtvl-pv>
    </div>
</dtvl-pv>
<dtvl-pv pv-type="Tabbed">
    <pv-slot slot="TabbedSlot.Tabs">
        <dtvl-pv pv-type="Tab">
            <pv-slot slot="TabSlot.PrependIcon">fa-solid fa-house</pv-slot>
            <pv-slot slot="TabSlot.Content">
                首頁
            </pv-slot>
        </dtvl-pv>
    </pv-slot>

    <pv-slot slot="TabbedSlot.Contents">
        <dtvl-pv pv-type="TabContent"
                 class="px-3 py-5">
            <dtvl-pv pv-type="Btn"
                     pv-name="BtnSelectStaff"
                     class="col-auto">
                選擇人員
            </dtvl-pv>
            <div class="row justify-content-start align-items-center mt-1">
                <dtvl-pv pv-type="Input"
                         pv-name="StaffName"
                         class="col-auto">
                    人員名稱
                </dtvl-pv>
            </div>

            <dtvl-pv pv-type="Btn"
                     pv-name="BtnSelectImage"
                     class="col-auto mt-2">
                選擇圖片
            </dtvl-pv>
            <div class="row">
                <div pv-name="Images"
                     class="col-3">
                    <img pv-name="Image"
                         class="col-12"
                         style="aspect-ratio: 1/1; object-fit: cover" />
                </div>
            </div>
        </dtvl-pv>
    </pv-slot>
</dtvl-pv>

<script type="module" src="~/scripts/Home/Index.js" asp-append-version="true"></script>

@await Html.PartialAsync("~/PartialViews/input.cshtml")
<dtvl-pv pv-type="Input">
    人員名稱
</dtvl-pv>

