
<div class="row">

    <v-text-field v-bind:readonly="true"></v-text-field>


    <dtvl-pv pv-type="CollapseView">
        <pv-slot slot="CollapseViewSlot.Content">
            <div style="width:30px;">
                asd
            </div>
        </pv-slot>
    </dtvl-pv>
</div>


<script type="module" src="~/scripts/Home/Index.js" asp-append-version="true"></script>