
.NotSelect {
    user-select: none;
}

.Pointer {
    cursor: pointer;
}

.p-m-0, .m-p-0 {
    padding: 0;
    margin: 0;
}

.Fs-1 {
    font-size: var(--DefaultTheme-font-size);
}

.Fs-2 {
    font-size: var(--DefaultTheme-font-size2);
}

.Fs-3 {
    font-size: var(--DefaultTheme-font-size3);
}

.Fw-1 {
    font-weight: var(--DefaultTheme-font-weight);
}

.Fw-2 {
    font-weight: var(--DefaultTheme-font-weight2);
}
