
.NotSelect {
    user-select: none;
}

.Pointer {
    cursor: pointer;
}

.ShowOnMounted {
    display: none;
}

.p-m-0, .m-p-0 {
    padding: 0;
    margin: 0;
}

.Fs-1 {
    font-size: var(--DefaultTheme-font-size);
}

.Fs-2 {
    font-size: var(--DefaultTheme-font-size2);
}

.Fs-3 {
    font-size: var(--DefaultTheme-font-size3);
}

.Fw-1 {
    font-weight: var(--DefaultTheme-font-weight);
}

.Fw-2 {
    font-weight: var(--DefaultTheme-font-weight2);
}

.Theme-bg {
    background: var(--DefaultTheme-bg);
}

.Theme-bg2 {
    background: var(--DefaultTheme-bg2);
}

.Theme-bg2-2 {
    background: var(--DefaultTheme-bg2-2);
}

.Theme-bg3 {
    background: var(--DefaultTheme-bg3);
}

.Theme-text-color {
    color: var(--DefaultTheme-text-color);
}

.Theme-text-color2 {
    color: var(--DefaultTheme-text-color2);
}

.Theme-text-color3 {
    color: var(--DefaultTheme-text-color3);
}

.Radius-0 {
    border-radius: 0 !important;
}

.Radius-1 {
    border-radius: var(--DefaultTheme-radius);
}

.Radius-2 {
    border-radius: var(--DefaultTheme-radius2);
}

.Radius-3 {
    border-radius: var(--DefaultTheme-radius3);
}

.Square {
    aspect-ratio: 1/1;
}
