--ImageViewerVar {
    --ImageViewer-max-height: 500px;
    --ImageViewer-Overlay-bg: #808080;
    --ImageViewer-Overlay-opacity: 0.6;
    --ImageViewer-Toolbar-bg: #121212;
    --ImageViewer-Toolbar-opacity: 1;
    --ImageViewer-Toolbar-height: 2.5rem;
    --ImageViewer-Toolbar-Item-size: 1.5rem;
    --ImageViewer-SideTool-bg: var(--ImageViewer-Toolbar-bg);
    --ImageViewer-SideTool-width: 4rem;
    --ImageViewer-SideTool-opacity: 0.2;
}

.ImageViewer-Content {
    position: relative;
    user-select: none;
    max-height: var(--ImageViewer-max-height);
}

.ImageViewer-Content .v-img__img {
    top: unset;
    left: unset;
    height: auto;
    width: auto;
    max-height: var(--ImageViewer-max-height);
}

.ImageViewer-Overlay {
    background: var(--ImageViewer-Overlay-bg);
    opacity: var(--ImageViewer-Overlay-opacity);
}

.ImageViewer-Toolbar {
    background: var(--ImageViewer-Toolbar-bg);
    opacity: var(--ImageViewer-Toolbar-opacity);
    position: fixed;
    height: var(--ImageViewer-Toolbar-height);
}

.ImageViewer-Toolbar-Item {
    cursor: pointer;
    height: var(--ImageViewer-Toolbar-Item-size);
    width: var(--ImageViewer-Toolbar-Item-size);
}

.ImageViewer-SideTool {
    position: fixed;
    height: calc(100% - var(--ImageViewer-Toolbar-height));
    width: var(--ImageViewer-SideTool-width);
    background: var(--ImageViewer-SideTool-bg);
    margin-top: var(--ImageViewer-Toolbar-height);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;

    &:hover {
        opacity: var(--ImageViewer-SideTool-opacity);
    }
}

.ImageViewer-SideTool-Before {
    @extend .ImageViewer-SideTool;
    left: 0;
}

.ImageViewer-SideTool-Next {
    @extend .ImageViewer-SideTool;
    right: 0;
}

.ImageViewer-SideTool-Before:hover {
    opacity: var(--ImageViewer-SideTool-opacity);
}

.ImageViewer-SideTool-Next:hover {
    opacity: var(--ImageViewer-SideTool-opacity);
}
