--InputVar {
    --Input-bg: var(--DefaultTheme-bg3);
    --Input-text-color: var(--DefaultTheme-text-color3);
    --Input-label-font-weight: var(--DefaultTheme-font-weight);
    --Input-Icon-color: var(--Input-text-color);
    --Input-Icon-font-size: 1.5rem;
    --Input-Icon-opacity: 0.6;
}

.Input {
}

/*.NumberInput {
}
.Input.NumberInput button {
    color: var(--Input-Icon-color);
}
.v-number-input--split .v-field__input {
    text-align: start;
}*/

.Input .v-field {
    background-color: var(--Input-bg);
    color: var(--Input-text-color);
}

.Input .v-label {
    font-weight: var(--Input-label-font-weight);
}

.v-input__append {
    margin-inline-start: 0px !important;
}

.InputIcon {
    font-size: var(--Input-Icon-font-size);
    opacity: var(--Input-Icon-opacity);
}

.v-field--prepended {
    padding-inline-start: 0;
}

.InputPrependInner {
    padding-inline-start: 12px;
}
