@model PvOption<DtvlPvs>
@{

}

<section pv-name="Root">
    <dtvl-pv pv-type="ImageViewer"
             pv-name="Viewer">
    </dtvl-pv>

    <dtvl-pv pv-type="Btn"
             pv-name="BtnOpen">
        Show Viewer
    </dtvl-pv>
</section>

<script type="module" src="~/scripts/Component/ImageViewer.js" asp-append-version="true"></script>