
<div pv-name="Rows">
    <div pv-name="Items">
        <dtvl-pv pv-type="Select"
                 pv-name="Select"
                 class="col-5">
            <pv-slot slot="SelectSlot.IconColor">red</pv-slot>
            <pv-slot slot="SelectSlot.Label">123</pv-slot>
            <pv-slot slot="SelectSlot.InnerIcon">fa-solid fa-user</pv-slot>
        </dtvl-pv>
    </div>
</div>

<script type="module" src="~/scripts/Component/Select.js"></script>